:root {
  --app-toolbar-height: 60px;
}

main.none {
  cursor: default;
}

main.dropper {
  cursor: url('../public/IconColorPicker.svg'), crosshair;
}

.app-canvases {
  margin-top: var(--app-toolbar-height);
  position: relative;
  height: calc(100% - var(--app-toolbar-height));
  display: flex;
  justify-content: center;
}
